<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

	<bean id="catalogServiceFinder" class="org.geoserver.geoservices.services.CatalogServiceFinder">
		<constructor-arg ref="catalog" />
	</bean>

	<bean id="restMapping" class="org.geoserver.rest.RESTMapping">
		<property name="routes">
			<map>
				<entry>
					<key>
						<value>/services/?f={format}</value>
					</key>
					<value>catalogServiceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/{workspace}?f={format}</value>
					</key>
					<value>catalogServiceFinder</value>
				</entry>

			</map>
		</property>
	</bean>











	<!-- PLAYGROUND IS BELOW. THIS WILL BE DELETED -->

	<bean id="ags-ows" class="org.geoserver.ows.ags.ArcGISServerOWSService">
		<constructor-arg ref="geoServer"></constructor-arg>
	</bean>

	<bean id="ags-ows-1.0.0" class="org.geoserver.platform.Service">
		<constructor-arg index="0" value="agsows" />
		<constructor-arg index="1" ref="ags-ows" />
		<constructor-arg index="2" value="1.0.0." />
		<constructor-arg index="3">
			<list>
				<value>export</value>
			</list>
		</constructor-arg>
	</bean>

	<bean id="sizeKvpParser" class="org.geoserver.ows.ags.AgsOwsKvpSizeParser">
		<constructor-arg index="0" value="agsows" />
		<constructor-arg index="1" value="1.0.0" />
	</bean>

	<bean id="layersKvpParser" class="org.geoserver.ows.ags.AgsOwsKvpLayersParser">
		<constructor-arg index="0" value="agsows" />
		<constructor-arg index="1" value="1.0.0" />
		<constructor-arg index="2" ref="geoServer" />
	</bean>

	<bean id="crsKvpParser" class="org.geoserver.ows.ags.AgsOwsKvpSRParser">
		<constructor-arg index="0" value="imageSR" />
		<constructor-arg index="1" value="agsows" />
		<constructor-arg index="2" value="1.0.0" />
	</bean>

	<bean id="agsOwsExportKvpRequestReader" class="org.geoserver.ows.ags.AgsOwsExportRequestKvpReader" />

	<bean id="agsOwsCapabilitiesResponse" class="org.geoserver.ows.ags.AgsOwsExportResponse">
		<!-- <constructor-arg ref="geoServer" /> -->
	</bean>
</beans>