<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd"
	default-autowire="byName">

	<bean id="serviceFinder" class="org.geoserver.gsr.services.ServiceFinder">
		<constructor-arg ref="geoServer" />
		<constructor-arg ref="wms"></constructor-arg>
		<constructor-arg ref="dispatcher"></constructor-arg>
	</bean>

	<bean id="restMapping" class="org.geoserver.rest.RESTMapping">
		<property name="routes">
			<map>
				<entry>
					<key>
						<value>/services?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/{folder}?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/{folder}/?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/{serviceName}/{serviceType}?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/{serviceName}/{serviceType}/?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/{serviceName}/{serviceType}/{operation}?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				<entry>
					<key>
						<value>/services/{serviceName}/{serviceType}/{operation}/?{params}</value>
					</key>
					<value>serviceFinder</value>
				</entry>
				
			</map>
		</property>
	</bean>
</beans>